<h1>Listing messages</h1>

<%= link_to 'New Message', new_message_path, :class=>'button' %>

<br />

<table class="model_index">
  <tr>
    <th width="170px">Title</th>
    <th>Text</th>
  </tr>

<% @messages.each do |message| %>
  <tr>
  	<td><%= message.title %><br />
				By : <%= message.player.name %> <%= message.updated_at.strftime('%m/%d/%Y %H:%M%Z') %><br />
        <%= link_to 'Edit', edit_message_path(message), :class=>'button' %>
        <%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete, :class=>'button' %>
		</td>
    <td><pre><%= message.text %></pre></td>
    <td>
		</td>
  </tr>
<% end %>
</table>

