<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @message.text %>
</p>

<p>
  <b>Title:</b>
  <%= @message.title %>
</p>

<p>
  <b>Player:</b>
  <%= @message.player_id %>
</p>

<p>
  <b>Game:</b>
  <%= @message.game_id %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
