<h1>Listing turn_actions</h1>

<table>
  <tr>
    <th>Turn</th>
    <th>Action</th>
    <th>Unit x</th>
    <th>Unit y</th>
    <th>Target x</th>
    <th>Target y</th>
    <th>Param1</th>
    <th>Param2</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @turn_actions.each do |turn_action| %>
  <tr>
    <td><%= turn_action.turn_id %></td>
    <td><%= turn_action.action %></td>
    <td><%= turn_action.unit_x %></td>
    <td><%= turn_action.unit_y %></td>
    <td><%= turn_action.target_x %></td>
    <td><%= turn_action.target_y %></td>
    <td><%= turn_action.param1 %></td>
    <td><%= turn_action.param2 %></td>
    <td><%= link_to 'Show', turn_action %></td>
    <td><%= link_to 'Edit', edit_turn_action_path(turn_action) %></td>
    <td><%= link_to 'Destroy', turn_action, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Turn action', new_turn_action_path %>
