<p id="notice"><%= notice %></p>

<p>
  <b>Turn:</b>
  <%= @turn_action.turn_id %>
</p>

<p>
  <b>Action:</b>
  <%= @turn_action.action %>
</p>

<p>
  <b>Unit x:</b>
  <%= @turn_action.unit_x %>
</p>

<p>
  <b>Unit y:</b>
  <%= @turn_action.unit_y %>
</p>

<p>
  <b>Target x:</b>
  <%= @turn_action.target_x %>
</p>

<p>
  <b>Target y:</b>
  <%= @turn_action.target_y %>
</p>

<p>
  <b>Param1:</b>
  <%= @turn_action.param1 %>
</p>

<p>
  <b>Param2:</b>
  <%= @turn_action.param2 %>
</p>


<%= link_to 'Edit', edit_turn_action_path(@turn_action) %> |
<%= link_to 'Back', turn_actions_path %>
