<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_map_path(@map), :class=>'button' %>

<p>
  <b>Name:</b>
  <%= @map.name %>
</p>
<p>
  <b># of Players:</b>
  <%= @map.number_of_players %>
</p>

<p>
  <b>Data:</b>
	<div id="hexmap01" class="hexmap">
	</div>

	<script type="text/javascript">
	$(function() {
		var tile_factory = Hexwar.ServiceContainer.get('TileFactory');
		tile_types = tile_factory.tile_types;
		var unit_factory = Hexwar.ServiceContainer.get('UnitFactory');
		unit_types = unit_factory.unit_types;

		var map = new Hexwar.Map();
		map.loadFromServer(<%=@map.id%>);
		
		var mapview = new Hexwar.MapView($('#hexmap01'));
		mapview.drawMap(map);
	});
	</script>
</p>


<%= render 'layouts/preload' %>
