<% @current_player.messages.each do |message| %>
	<fieldset id="message<%= message.id %>"><legend><%= message.title %></legend>
		<pre style="background:#333"><%= message.text %></pre><br />	
		<%= link_to 'Mark Read', {:id => message.id, :controller=>:messages, :action=>:mark_read}, :class=>'button', :remote => true %>
	</fieldset>
<% end %>

<h1>Listing games</h1> <%= link_to 'New Game', new_game_path, :class=>:button %>
<table class="model_index">
  <tr>
    <th>Game</th>
    <th>Map</th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td>
			<h2><%= game.name %></h2>
			<%= render :partial => 'player_list', :locals => { :players=>game.game_players, :game=>game } %>		
		</td>
    <td><%= game.map.name %></td>
    <td>
			<% if game.is_players_turn(@current_player) %>
				<%= link_to 'Play', game, :class=>:button %>
			<% else %>
				<%= link_to 'View', game, :class=>:button %>
			<% end %>

			<% unless game.game_winner.nil? || game.game_winner.empty? %>
			<% end %>
    		<%= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete, :class=>:button %>
		</td>
  </tr>
<% end %>
</table>
