
<table>
  <tr>
    <td>
      <strong><%= @game.name %></strong>
    </td>
    <td style="float:right">
      <span class="ui-silk ui-silk-coins"></span>9,843
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <div id="hexmap01" class="hexmap"></div>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <%= render :partial => 'player_list', :locals => { :players=>@game.game_players, :game=>@game } %>
    </td>
  </tr>
</table>

<script type="text/javascript">
	$(function() {
		var map = new Hexwar.Map;
		map.loadFromServer(<%= @game.map.id%>);
		var game = new Hexwar.GameController(map, <%= @game.id%>,<%= @game.current_turn.id%>, '<%= @current_player_team %>');
	
		$('#endturn').click(function() {
			game.endTurn();
		});
	
		game.bindEvent('turn_ended', function() {
			top.location = '<%= root_url%>';
		});
		
		<% if @game.game_winner %>
			modalAlert("This Game has Ended.  <%=@game.game_winner.titleize%> has won!");
		<% end %>
	});
</script>
<% if @game.current_turn.player == @current_player_team && !@game.game_winner %>
	<button type="button" id="endturn" class="button">
		End Turn
	</button>
<% else %>
	<%= link_to 'Return to my Games', games_path, :class=>'button' %>
<% end %>

<%= render 'layouts/preload' %>