<%= form_for(@tile_type) do |f| %>
  <% if @tile_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tile_type.errors.count, "error") %> prohibited this tile_type from being saved:</h2>

      <ul>
      <% @tile_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :img %><br />
    <%= f.text_field :img %>
    X <%= f.text_field :img_x %>
    Y <%= f.text_field :img_y %>
  </div>
	<div class="field">
    <%= f.label :ownable %>
    <%= f.check_box :ownable %>
  </div>
	<div class="field">
    <%= f.label :is_store %>
    <%= f.check_box :is_store %>
  </div>
	<fieldset>
		<legend>Units Available</legend>
		<% @unit_types.each do |unit_type| %>
			<input type="checkbox" name="tile_type[unit_types_available][<%=unit_type.position%>]" <%= 'checked="checked"' if @tile_type.unit_types_available.include?(unit_type.position.to_s) %> />
			<%= unit_type.name %>
		<% end %>
	</fieldset>
  <div class="actions">
    <%= f.submit 'Save Tile Type', :class=>:button %>
  </div>
<% end %>
