
<%= link_to 'Edit', edit_tile_type_path(@tile_type), :class=>:button %>
<%= link_to 'Listing', tile_types_path, :class=>:button %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tile_type.name %>
</p>

<p>
  <b>Img:</b>
  <%= @tile_type.img %>
</p>

<p>
  <b>Position:</b>
  <%= @tile_type.position %>
</p>


<div class="field">
	<input type="checkbox" disabled="disabled" <%= 'checked="checked"' if @tile_type.is_store %> />
  is store
</div>
<fieldset>
	<legend>Units Available</legend>
	<% @unit_types.each do |unit_type| %>
		<input type="checkbox" disabled="disabled" <%= 'checked="checked"' if @tile_type.unit_types_available.include?(unit_type.position.to_s) %> />
		<%= unit_type.name %>
	<% end %>
</fieldset>

