<%= form_for(@unit_type) do |f| %>
  <% if @unit_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit_type.errors.count, "error") %> prohibited this unit_type from being saved:</h2>

      <ul>
      <% @unit_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :img %><br />
    <%= f.text_field :img %>
    X <%= f.text_field :img_x %>
    Y <%= f.text_field :img_y %>
  </div>
  <div class="field">
    <%= f.label :attack_range %>
    <%= f.select(:attack_range, (1..9).to_a) %>
  </div>
  <div class="field">
    <%= f.label :move_range %>
    <%= f.select(:move_range, (1..9).to_a) %>
  </div>
  <div class="field">
    <%= f.label :attack_power %>
    <%= f.select(:attack_power, (1..99).to_a) %>
  </div>
  <div class="field">
    <%= f.label :defense_power %>
    <%= f.select(:defense_power, (1..99).to_a) %>
  </div>
  
	<table class="model_index">
		<tr><th></th><th>Move Cost</th><th>Defense Bonus</th></tr>
		<% @unit_type.terrain_modifiers.each_with_index do |terr_mod, index| %>
	    <tr>
      	<td><%= display_tile_img(terr_mod.tile_type).html_safe%></td>
		    <td><%= select_tag "terrain_modifiers[#{index}][movement_cost]", options_for_select((1..9).to_a+[99], terr_mod.movement_cost) %></td>
	      <td><%= select_tag "terrain_modifiers[#{index}][defense_bonus]", options_for_select((0..9).to_a, terr_mod.defense_bonus) %></td>
	    </tr>
	  <% end %>
	</table>
	<br />
  <div class="actions">
    <%= f.submit 'Save Unit Type', :class=>:button %>
  </div>
<% end %>
