<%= form_for(@unit_type) do |f| %>
  <% if @unit_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unit_type.errors.count, "error") %> prohibited this unit_type from being saved:</h2>

      <ul>
      <% @unit_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :img %><br />
    <%= f.text_field :img %>
  </div>
	  <div class="field">
	    <%= f.label :attack_range %>
	    <%= f.select(:attack_range, (1..9).to_a) %>
	  </div>
		  <div class="field">
		    <%= f.label :move_range %>
		    <%= f.select(:move_range, (1..99).to_a) %>
		  </div>

	<table class="model_index">
		<tr><th></th><th>Move Cost</th><th>Defense Bonus</th></tr>
		<% @tile_types.each do |tile_type| %>
			<tr>
				<td><%=display_tile_img(tile_type).html_safe%></td>
				<td><%= f.select 'move_cost_'+tile_type.name, options_for_select((1..9).to_a+[99], @unit_type.send('move_cost_'+tile_type.name))%></td>
				<td><%= f.select 'defense_bonus_'+tile_type.name, options_for_select((0..9).to_a, @unit_type.send('defense_bonus_'+tile_type.name))%></td>
			</tr>
		<% end %>
	</table>
	<br />
  <div class="actions">
    <%= f.submit 'Save Unit Type', :class=>:button %>
  </div>
<% end %>
