<p id="notice"><%= notice %></p>

<%= @unit_type.name %>
<%=display_unit_img(@unit_type).html_safe%>
<table>
  <tr><th>attack_range</th><td><%= @unit_type.attack_range%></td></tr>
  <tr><th>move_range</th><td><%= @unit_type.move_range%></td></tr>
  <tr><th>attack_power</th><td><%= @unit_type.attack_power%></td></tr>
  <tr><th>defense_power</th><td><%= @unit_type.defense_power%></td></tr>
</table>

<table class="model_index">
  <tr><th></th><th>Move Cost</th><th>Defense Bonus</th></tr>
  <% @unit_type.terrain_modifiers.each do |terr_mod| %>
    <tr>
      <td><%= display_tile_img(terr_mod.tile_type).html_safe%></td>
      <td><%= terr_mod.movement_cost %></td>
      <td><%= terr_mod.defense_bonus %></td>
    </tr>
  <% end %>
</table>


<%= link_to 'Edit', edit_unit_type_path(@unit_type) %> |
<%= link_to 'Back', unit_types_path %>
