<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
	<% if @current_player.admin %>
		<div class="field">
	    <%= f.label :admin %>
	    <%= f.check_box :admin %>
		</div>
	<% end %>
	<div class="field">
    <%= f.label :notify_by_email, 'Notify me when it is my turn' %>
    <%= f.check_box :notify_by_email %>
		<%= @player.email %>
	</div>
  <div class="actions">
    <%= f.submit 'Update', :class=>'button' %>
  </div>
<% end %>
