<!DOCTYPE html>
<html>
<head>
	<title>Hex Map Demo</title>
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" />
	<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/ui-darkness/jquery-ui.css" />
	<% if Rails.env == 'development' %>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.js"></script>
	<% else %>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
	<% end %>
	<%= include_stylesheets(:common) %>
	<%= include_javascripts(:rails) %>
	<%= include_javascripts(:common) %>
	<%= csrf_meta_tag %>
	
	<% if protect_against_forgery? %>
		<script type="text/javascript">
			var AUTH_TOKEN = <%=form_authenticity_token.inspect%>;
			// Always send the authenticity_token with ajax
			$(document).ajaxSend(function(event, request, settings) {
			    if ( settings.type == 'post' ) {
			        settings.data = (settings.data ? settings.data + "&" : "")
			            + "authenticity_token=" + encodeURIComponent( AUTH_TOKEN );
			    }
			});
		</script>
	<% end %>
	
	<!-- Tell IE6 to go away-->
	<!--[if lte IE 6]>
	<script src="/ie6/warning.js"></script>
	<script>$(function(){e("/ie6/")})</script>
	<![endif]-->
  
  <script type="text/javascript">
    $(function() {
      $('.button').button();
    });
  </script>

</head>
<body>
	<div id="facebook_canvas">
	<% unless @current_player.nil? %>
	  <fieldset id="admin_nav">
	    <legend><%= @current_player.name %></legend>
	    <%= link_to 'Games', games_path, :class=>'button' %>
		<%= link_to 'My Profile', edit_player_path(@current_player), :class=>'button' %>
	    <%= link_to 'Sign Out', signout_path, :class=>'button' %>
	
	    <% if @current_player && @current_player.admin %>
		  <br />
	      <%= link_to 'Maps', maps_path, :class=>'button' %>
	      <%= link_to 'Players', players_path, :class=>'button' %>
	      <%= link_to 'UnitTypes', unit_types_path, :class=>'button' %>
	      <%= link_to 'TileTypes', tile_types_path, :class=>'button' %>
	      <%= link_to 'Messages', messages_path, :class=>'button' %>
	    <% end %>
	    <br /> 
	  </fieldset>
	<% end %>

	<% if notice %>
		<script type="text/javascript">
			$(function(){
				$.pnotify({   pnotify_title: 'Your Turn'
							, pnotify_text: '<%= notice %>'
							, pnotify_hide: true
							, pnotify_shadow: true });
			});
		</script>
	<% end %>
	
	<br />
	
	<% @current_player.messages.each do |message| %>
		<fieldset id="message<%= message.id %>"><legend><%= message.title %></legend>
			<pre style="background:#333"><%= message.text %></pre><br />	
			<%= link_to 'Mark Read', {:id => message.id, :controller=>:messages, :action=>:mark_read}, :class=>'button', :remote => true %>
		</fieldset>
	<% end %>
	
	<%= yield %>

	</div>

</body>
</html>
